docs/n8n_qa_workflow.json
{
  "name": "GlobeWest QA Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "7f8b9e0a-1c2d-3e4f-5a6b-7c8d9e0f1a2b",
      "name": "Schedule Trigger (Daily 8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "run-globewest-tests",
        "options": {}
      },
      "id": "8a9b0c1d-2e3f-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        380,
        420
      ]
    },
    {
      "parameters": {
        "command": "powershell.exe -Command \"cd 'C:\\GlobeWest 2026'; npm run test:staging-nvda; npm run test:accessibility; npm run test:journeys\""
      },
      "id": "9b0c1d2e-3f4a-5b6c-7d8e-9f0a1b2c3d4e",
      "name": "Execute Playwright Tests",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "powershell.exe -Command \"Compress-Archive -Path 'C:\\GlobeWest 2026\\playwright-report\\*' -DestinationPath 'C:\\GlobeWest 2026\\playwright-report.zip' -Force\""
      },
      "id": "0c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "Zip HTML Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        860,
        320
      ]
    },
    {
      "parameters": {
        "fileSelector": "C:\\GlobeWest 2026\\playwright-report.zip"
      },
      "id": "e2f3a4b5-c6d7-8e9f-0a1b-2c3d4e5f6a7b",
      "name": "Read Zip File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        970,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "string": [
            {
              "value1": "={{ $node[\"Execute Playwright Tests\"].json[\"exitCode\"] }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "1d2e3f4a-5b6c-7d8e-9f0a-1b2c3d4e5f6a",
      "name": "Verify Exit Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "fromEmail": "deepali.londhe@magnetoitsolutions.com",
        "toEmail": "deepali.londhe@magnetoitsolutions.com",
        "subject": "✅ GlobeWest QA Run Succeeded!",
        "html": "<h3>GlobeWest QA Run Succeeded!</h3><p>Date: {{ new Date().toLocaleString() }}</p><p>Status: All accessibility audits passed successfully.</p><p>The test report zip is located at: <code>C:\\GlobeWest 2026\\playwright-report.zip</code></p>",
        "options": {
          "attachments": "data"
        }
      },
      "id": "2e3f4a5b-6c7d-8e9f-0a1b-2c3d4e5f6a7b",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "deepali.londhe@magnetoitsolutions.com",
        "toEmail": "deepali.londhe@magnetoitsolutions.com",
        "subject": "❌ GlobeWest QA Run Failed!",
        "html": "<h3>GlobeWest QA Run Failed!</h3><p>Date: {{ new Date().toLocaleString() }}</p><p>Status: One or more accessibility audits failed.</p><p>Exit Code: {{ $node[\"Execute Playwright Tests\"].json[\"exitCode\"] }}</p><p>Please inspect the zipped report at: <code>C:\\GlobeWest 2026\\playwright-report.zip</code></p>",
        "options": {
          "attachments": "data"
        }
      },
      "id": "3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c",
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1320,
        420
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 8 AM)": {
      "main": [
        [
          {
            "node": "Execute Playwright Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook": {
      "main": [
        [
          {
            "node": "Execute Playwright Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Playwright Tests": {
      "main": [
        [
          {
            "node": "Zip HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zip HTML Report": {
      "main": [
        [
          {
            "node": "Read Zip File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zip File": {
      "main": [
        [
          {
            "node": "Verify Exit Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Exit Code": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "id": "globewest-qa-automation-pipeline",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
